.film_list{
    padding: 0;
    width: 1360px;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(20, 460px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
}

.film_item{
    list-style-type: none;
}